body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/** HEADINGS **/
.header--main {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.header--secondary {
    color: white;
    font-size: 42;
    font-weight: 300;
}

.header--sub-header {
    color: grey;
    font-size: 21;
    
}

/** LINKS **/

.link--cta {
    font-size: 16px;
    color: aquamarine;
}


/** FOOTER **/
.footer-copyright {
    font-size: 21px;
    color: grey;
    text-align: right;
}